[submodule "extern/redis"]
	path = extern/redis
	url = https://github.com/antirez/redis.git
[submodule "extern/spark-redis"]
	path = extern/spark-redis
	url = https://github.com/RedisLabs/spark-redis
[submodule "extern/hiredis"]
	path = extern/hiredis
	url = https://github.com/redis/hiredis.git
