lbm_adios/results
cloud-components/logs/*.d
lbm_adios/build*
!lbm_adios/results/summary
*.swp
build*/
deps_install
.venv
build
**/metastore_db/
data
**/linux64GccDPInt32Opt
**/.ipynb_checkpoints/
*.deb
cloud-components/conf/*.conf
**/log.*
**/processor*
simpleFoam/windAroundBuildings-small/*

